<br>
<br>
<form action = "/temp">
	<input type="radio" name = "type" value="1">Fahreinheit<br>
	<input type="radio" name="type" value="2">Celsius<br>
	<input type="text" name="temp"><br>
	<input type = "submit" value="submit">
</form><br>

<form action = "/distance">
	<input type="radio" name = "type" value="1">Miles<br>
	<input type="radio" name="type" value="2">Kilometers<br>
	<input type="text" name="dist"><br>
	<input type = "submit" value="submit">
</form>