<form action = "/temp">
	<input type="radio" name = "type" value="1">Fahreinheit<br>
	<input type="radio" name="type" value="2">Celsius<br>
	<input type="text" name="temp"><br>
	<input type = "submit" value="submit">
</form>